<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start"(click)="gotologin()"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="header">
<h1>Set new password</h1>
</div>

<form id="form">

  <div class="text1">
    <ion-label color="light" position="stacked">password</ion-label>
  </div>

  <ion-item class="password1">
    <ion-input name="password"  [type]="showPassword ? 'text': 'password'" ngModel required></ion-input>
  </ion-item>


    <div class="text1">
    <ion-label color="light" position="stacked">Confirm new password</ion-label>
    </div>

      <ion-item class="password1">
        <ion-input   name="password"  [type]="showPassword ? 'text': 'password'" ngModel required></ion-input>
      </ion-item>

      <ion-button color="secondary"  expand="block" type="sumbit" shape="round" color="success" (click)="gotologin()">Comfirm</ion-button>

</form>

</ion-content>
