
ion-content {
  --background: #00ff2f;

}

.flex-center1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  padding-left: 14px;
}

#header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form{
  margin-top: 5px ;
  padding-left: 20px;
  padding-right:20px ;
}

.Usernameemail{
  border-radius:50px;
 height: auto;
  --background: #000000;
  margin-top: 5px;


}
.password1{
  margin-top: 5px;
  border-radius:50px;
  height: auto;
  --background: #000000;
}

ion-button{
 margin-top: 25px;
 height: 48px;
 text-transform: initial;
 border-radius: 50px;
 box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.233);

}


.text1{
  margin-top: 20px;
}

.text2{
  margin-top: 20px;
  display:flex;
  align-items: center;
  gap: auto;
  text-align:left;
  font-size: 12px;

}





