<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="header">
  <h1>Forget password</h1>
</div>

  <form id="form">
  <div class="text1">
    <ion-label  color="light"  position="stacked">Username or Email</ion-label>
    </div>

  <ion-item class="Usernameemail">
    <ion-input   name="UsernameorEmail" type="text" ngModel required></ion-input>
 </ion-item>

 <ion-button color="secondary"  expand="block" type="sumbit" shape="round" color="success" (click)="gotoSetnewpassword()" >Next</ion-button>
</form>
</ion-content>
